<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lifes_log.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Lifes_log.Properties.gen" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Lifes_log.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </Lifes_log.Properties.Settings>
        <Lifes_log.Properties.gen>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ll</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </Lifes_log.Properties.gen>
    </userSettings>
</configuration>